<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        /* Center the container */
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Set height to full viewport height for vertical centering */
            background-image: url('./Images/image1.png');
            background-size: cover; /* Cover the entire container */
            background-position: center; /* Center the background image */
        }

        /* Style for the upload form container */
        .upload-container {
            background-color: white; /* Set background color to white */
            padding: 20px; /* Add padding for spacing inside the container */
            border-radius: 10px; /* Add border radius for rounded corners */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Style for the upload form */
        .upload-form {
            text-align: center;
        }

        /* Style for the upload button */
        .upload-button {
            padding: 15px 50px; /* Increased padding to make the button wider and taller */
            font-size: 20px; /* Increased font size for better visibility */
            background-color: #b2744c;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 10px; /* Add margin space at the top of the buttons */
        }

            .upload-button:hover {
                background-color: black;
            }

        /* Style for the file input */
        .file-input {
            margin-bottom: 10px; /* Add margin space at the bottom of the file input */
        }
    </style>
</head>
<body>
    <div class="center-container">
        <div class="upload-container">
            <div class="col-md-10 upload-form">
                @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "upload-form" }))
                {
                    <input type="file" name="submittedFile" class="file-input" />
                    <br />
                    <input type="submit" value="Upload" class="upload-button" />
                }
            </div>
        </div>
    </div>
</body>
</html>