<section class="page4" id="Sale-dresses">
    <div class="p4-text">
        <h2>Sale <span>2024</span></h2>
    </div>
    <div id="sale-products">
        <div class="sale-rows">
            <img src="~/images/wesley-tingey-JOhjfzjeJLw-unsplash (1).jpg" alt="">
            <img class="top-img" src="~/images/wesley-tingey-ODG3C3udpsc-unsplash (1).jpg" alt="" >
            <div class="bg"></div>
            <div class="prod-text">
                <h4>Sale</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="sale-rows">
            <img src="mahdi-chaghari-3zRk7UqqoPc-unsplash.jpg" alt="">
            <img class="top-img" src="mahdi-chaghari-RIJE296nHM0-unsplash.jpg" alt="">
            <div class="bg"></div>
            <div class="prod-text">
                <h4>Sale</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="sale-rows">
            <img src="~/images/aydin-sefidi-uCp3bnGQuJM-unsplash.jpg" alt="">
            <img class="top-img" src="~/images/aydin-sefidi-mC6yc1FY7iA-unsplash.jpg" alt="">
            <div class="bg"></div>
            <div class="prod-text">
                <h4>Sale</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="sale-rows">
            <img src="~/images/ian-dooley-1yl3jzKoKXg-unsplash (1).jpg" alt="">
            <img class="top-img" src="~/images/ian-dooley-m4XquYOTb50-unsplash.jpg" alt="">
            <div class="bg"></div>
            <div class="prod-text">
                <h4>Sale</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>

    </div>
    </div>
</section>