@*     <div id="scroll-text">
        <marquee class="marq" background-color="Green"
                 direction="left" loop="infinite">
            <div class="scroller ">
                Upto <span>20%</span> OFF
            </div>
            <div class="scroller-in">
                <pre>The best Classic dresses on sale at <span>StyleSpark</span></pre>
            </div>
        </marquee>
        <div id="page3">
            <img src="~/images/sa.PNG" alt="">
        </div>
    </div> *@