@{
    ViewData["Title"] = "Index";
}


<section class="page1">
    <div id="main">
        <h4>Winter Collection</h4>
        <h1>New Winter <br> Collection </h1>
        <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing.</p>
        <a href="#" class="button">Explore Now <i class='bx bx-right-arrow-alt'></i></a>
        <h6>@Model</h6>
    </div>
    <div id="arrow">
        <a href="#Trending" class="down"><i class='bx bx-down-arrow-alt'></i></a>
    </div>
</section>

<section class="page2" id="Trending">
    <div class="p2-text">
        <h2>Our Trending <span>Products</span></h2>

    </div>
    <div id="product">
        <div class="home__myCard">
            <img src="~/images/dom-hill-nimElTcTNyY-unsplash (1).jpg" alt="">
            <div class="prod-text">
                <h4>New</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="home__myCard">
            <img src="~/images/ian-dooley-1yl3jzKoKXg-unsplash (1).jpg" alt="">
            <div class="prod-text">
                <h4>New</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="home__myCard">
            <img src="~/images/ahmed-carter-tiWcNvpQF4E-un













splash (1).jpg" alt="">
            <div class="prod-text">
                <h4>New</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="home__myCard">
            <img src="~/images/valerie-elash-T5tIoXFJfSk-unsplash.jpg" alt="">
            <div class="prod-text">
                <h4>New</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="home__myCard">
            <img src="~/images/yoel-peterson-4Fig9NwBXUc-unsplash (1).jpg" alt="">
            <div class="prod-text">
                <h4>New</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="home__myCard">
            <img src="~/images/shlomi-platzman-VF0dgmBSf9Q-unsplash.jpg" alt="">
            <div class="prod-text">
                <h4>New</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="home__myCard">
            <img src="~/images/alma-RzIGme6q2WY-unsplash (1).jpg" alt="">
            <div class="prod-text">
                <h4>New</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>
        </div>
        <div class="home__myCard">
            <img src="~/images/katsiaryna-endruszkiewicz-BteCp6aq4GI-unsplash (1).jpg" alt="">
            <div class="prod-text">
                <h4>New</h4>
            </div>
            <div class="heart">
                <i class='bx bx-heart'></i>
            </div>
            <div class="ratting">
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <div class="price">
                <h4>Half Running Set</h4>
                <p>$100 - $150</p>
            </div>


        </div>
    </div>
</section>


<section>
    <div class="container-fluid custom-container">
        <div class="text-section">
            <h1>Our location</h1>
            <h4>
                Level 13, 2 Elizabeth St,<br>
                Melbourne, Victoria 3000,<br>
                Australia
            </h4>
            <p>
                Monday - Friday: 8AM — 10PM <br>
                Saturday: 9AM — 10PM <br>
                Sunday: 10AM — 8PM <br>
                <br>
                Phone: +44-333 014 4501 <br>
                Fax: +44-333 014 4502 <br>
                Email: noreply@envato.com
            </p>
            <a href="contact"><button class="btn btn-contact " ;>Contact Us</button></a>
        </div>
        <div class="image-section">
            <img src="~/images/location.jpg" class="img-fluid " style="max-width: 80%;">
        </div>
    </div>
</section>




