
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

#login {
    font-family: 'Poppins', sans-serif;
    ;
    /* background: #ececec; */
    background: url(../images/log.png);
}

/*------------ Login container ------------*/

.box-area {
    width: 800px;
    background: transparent;
    backdrop-filter: blur(20px);
}
/*------------ Right box ------------*/
.right-box {
    padding: 40px 30px 40px 40px;
}


/*------------ Custom Placeholder ------------*/

::placeholder {
    font-size: 16px;
}

/*------------ For small screens------------*/
@media only screen and (max-width:768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}
