<div class="about-img1">
    <img src="~/images/ab.jpg" class="img-fluid" alt="...">
</div>

<section class="ab-page1">
    <h2 class="text-center">We provide the newest trends <br> in fashion</h2>
    <pre id="ab-txt1" class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
dolore magna aliqua. Ut enim ad minim veni sit amet Lorem ipsum
  dolor sit amet, consectetur adipisicing elit, sed do dolore magna
        aliqua. Ut enim ad minim veni sit amet
    </pre>

    <div class="about-img2">
        <img src="~/images/ab2.PNG" class="img-fluid" alt="...">
    </div>
</section>

<div class="ab-page2">
    <div class="about-img3">
        <img src="~/images/ab3.PNG" alt="...">
    </div>
    <div class="about-text">
        <h2>Lorem ipsum quam <br> pertroni</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
